<!DOCTYPE html>
<html lang="en" class="h-full">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List, Conditionals $ Computed Properties</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://cdn.tailwindcss.com"></script>

    <style></style>
</head>
<body class="h-full grid place-items-center">
    
    <div id="app">
        <section v-show="inProgressAssignments.length">
            <h2 class="font-bold mb-2">In Progress</h2>

            <ul>
                <!-- <li>Finish Project <input type="checkbox" /></li>
                <li>Read Chapter 4 <input type="checkbox" /></li>
                <li>Turn in homework <input type="checkbox" /></li> -->

                <!-- <li v-for="assignment in assignments.filter(a => ! a.complete)" :key="assignment.id">   Either this way -->

                <!-- OR through computed property methods delow -->
                <li v-for="assignment in inProgressAssignments" :key="assignment.id">
                    <Label>
                        {{ assignment.name }}
                        <input type="checkbox" v-model="assignment.complete" />
                    </Label>
                </li>
            </ul>
        </section>

        <!-- <section v-if="assignments.filter(a => a.complete).length" class="mt-8"> -->
        <section v-show="completedAssignments.length" class="mt-8">
            <h2 class="font-bold mb-2">Completed Assignments</h2>

            <ul>
                <!-- <li v-for="assignment in assignments.filter(a => a.complete)" :key="assignment.id">  Either this way -->

                <!-- OR through computed property methods delow -->
                <li v-for="assignment in completedAssignments" :key="assignment.id">
                    <Label>
                        {{ assignment.name }}
                        <input type="checkbox" v-model="assignment.complete" />
                    </Label>
                </li>
            </ul>
        </section>

        <!-- <pre>{{assignments}}</pre> -->
    </div>

    <script>
        let app = {
            data() {
                return {
                    assignments: [
                        { name: 'Finish Project', complete: false, id: 1 },
                        { name: 'Read Chapter 4', complete: false, id: 2 },
                        { name: 'Turn in homework', complete: false, id: 3 },
                    ]
                }
            },

            computed: {
                inProgressAssignments() {
                    return this.assignments.filter(assignment => ! assignment.complete);
                },

                completedAssignments() {
                    return this.assignments.filter(assignment => assignment.complete);
                }
            }
        }
        Vue.createApp(app).mount('#app');
    </script>
</body>
</html>